<h1>List des demandes</h1>

<% @messages.each do |message| %>
<h3> <%= message.title %></h3>
<%= link_to "consulter", message_path(message), class:"btn btn-info" %>
<% end %>

<%= link_to "Nouvelle demande",new_message_path %>
