<h2>Local Ticket Manager</h2>
<% if user_signed_in? %>
  <p>Bienvenu <i><%= current_user.username %></i></p>
  <%= link_to "Tickets en cours", messages_path, class: "btn btn-lg btn-info"%>
  <%= link_to "Creer un ticket", new_message_path, class: "btn btn-lg btn-info"%>
<% end %>
