<h3>Comment edition</h3>

<%= simple_form_for([@message, @comment]) do |f| %>
    <%= f.input :content, as: :text, label: "Comment",
                input_html: {class: 'tinymce'} %>
    <%= tinymce %>
    <%= f.button :submit %>
<% end %>
