/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require material_icons
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
body{
  background-size: 50px 50px;
  background-color: #0ae;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  -pie-background: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent) 0 0 / 50px #0ae;
  behavior: url(/pie/PIE.htc)
}
.bulle {
  width: 100%;
  display:inline-block;
  *display:inline;/* ie7 and under inline-block hack */
  *zoom:1.0;/* "  " */
  p, h1,h2,h3,h4,h5,h6{
    margin: 1em 1em 1em 1em;
    padding: 1px 1px 1px 1px
  }
}
